<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>TechFoundation</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />

    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"
    ></script>
  </head>
  <body>
    <!-- Our application root element -->
    <div id="app">
      <b-container>
        <div>
          <div class="jumbotron">
            <div>
              <div>
                <div class="media">
                  <img
                    src="{{ url_for('static', filename = 'img/erictronics-africa-logo.png') }}"
                    class="w-25 p-4"
                    alt="TechFoundation logo"
                  />
                  <div class="media-body">
                    <div style="">
                      <h2 class="display-2 text-xl-center font-weight-bold">
                        TECHFoundation
                      </h2>
                      <hr class="my-4" />

                      <div class="d-flex justify-content-center">
                        <h3>
                          Making Africa Tech-Literate
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-4" />
            <h5>
              Lesson Files
            </h5>
            <ol>
              {%for i in files%}
              <li>
                <a href="javascript:void(0)" onclick='redirect("{{i}}")'
                  >{{i}}</a
                >
              </li>
              {%endfor%}
            </ol>
          </div>
        </div>
      </b-container>
    </div>
    <script>
      function redirect(i) {
        var currentUrl = window.location.pathname;

        if (currentUrl === '/') {
          window.location.href = currentUrl + i;
        } else {
          window.location.href = currentUrl + '/' + i;
        }
      }
    </script>
  </body>
</html>
